
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.galerias{    display:grid;
place-items: center;}

header{
    background-color:#f7eb7e;
    color:#f7eb7e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo-header img{
    width: 50px;
    z-index: 15000;
    position: relative;
}
.nav-menu ul{
    display: flex;
    align-items: center;
    z-index: 15000;
    position: relative;
}
.nav-menu li{
    margin-right: 1rem;
    z-index: 15000;
    position: relative;
}
.nav-menu a{
     color: #000000;
}
.nav-menu li:last-child{
    
    padding: .25rem .75rem;
    border-radius: .2rem;
    z-index: 15000;
}
.menu-icon img{
   
   position: relative;
   z-index: 200000;
   
}
.menu-icon, #check{
    display: none;
   
}
    .slider{
        aspect-ratio: 10/16;
        width: 300px;
        position: relative;
        display: flex;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        float: left;
        z-index: 1;
        top: 280px;
        transition: 3s;
    }
    .slider img{
    width: 100%;
    left: 0;
    position: sticky;
    border-radius: 5px;
    scroll-snap-align: center 3s;
    z-index: 12;
    }

.portada{
   position: relative;
    height: 100px;
    text-align: center;
    background-color:#f7eb7e;
}
.fotoportada{
    height: 100px;
}
.logoenvio{
    height: 150px;
    width: 150px;
    position: relative;
    top: 30px;
}



.redessociales{
    height: 200px;
    width: 100%;
    background-color: #f7eb7e;
    position: relative;
    z-index: 1;
   text-align: center;
       top: 80px;
}
.insta{height:80px; width:80px; margin: 30px;}
.face{height:70px;position: relative; width:70px; margin: 30px; top: -8px; }
.wsp{height:70px; width: 70px; }
.compartir{height: 80px; width: 80px; }
.contacto{
    height: 120px;
    width: 100%;
    background-color:  #f7eb7e;
    position: relative;
      
    text-align: center;
    
    top:280px;


}
.about{
    width: 100%;
    height: 500px;
    background-image:url(bg\ \(1\).png);
    position: relative;
    margin: auto;
    top: 100px;
    z-index: 10;
    
}
.title{
    font-size: 38px;
    height: 100px;
    
}
.empresa{
    font-size: 20px;
}
.description{
    width: 95%;
    min-height: 400px;
    background-color: #ffffffab;
    text-align: center;
    margin:auto;
    top: 50px;
    position: relative;
    border-radius: 30px;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 15;

}
@media (max-width:768px){
    .menu-icon img{
   
        
        
     }
    .checkbtn{
        display: block;
    }
    .menu-icon{
        position: relative;
        z-index: 200000;
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top:70px;
        left:-100%;
        background: #f7eb7e;
        width: 100%;
        height: 340px;
        right: 0;
        border: 1px solid rgb(0, 0, 0);
        
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
        border: 2px solid rgb(255, 247, 0);
    }
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }
    .compartir{top:-10px;}
    .header{
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
   
      .about{
    height: 800px;
}
      .description{width: }
      .redessociales{width:}
      .insta{position: relative;
    left: 10px;}
      .face{left: -1px;}
      .wsp{ left:270px;}
.compartir{top: 10px;}

.letradelfinal{

}


        
         .letra{
            width: 400px;
            
         } 
         .contacto{top: 420px;}
       .wsptext{}
       header{position: absolute;}
       .final{height: 200px;
    top: ;}
       .slider{
      top: 400px;
       }
}

  .letra{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color:#003785;
	color: rgb(255, 255, 255);
	font-style: italic;
  }
  .letrapubli{
	font-family: cursive;
	font-style: initial;
	color: #e7ad40;
    float: left;
    width: 200px;
    height: 100px;
	
	
  }
  

  
  #titulo {
      width: 100%;
      position: absolute;
      padding: 0px;
      margin: 0px auto;
      text-align: center;
      font-size: 27px;
      color: rgba(255, 255, 255, 1);
      font-family: 'Open Sans', sans-serif;
      z-index: 9999;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
           -1px 0px 2px rgba(255, 255, 255, 0);
  }
  .final{
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    top: 400px;
    position: relative;

  }
  
